body {
  font-family:"Arial", "Meiryo", sans-serif;
}
 

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
}

html{
  font-size: 20px;
}



